[Unit]
Description = Backend Service

[Service]
User=expense
WorkingDirectory=/app
Environment=DB_HOST="mysql-{{ env }}.pdevops72.online"
Environment=NEW_RELIC_APP_NAME=backend
Environment=NEW_RELIC_LICENSE_KEY=NRAK-EDEQ6RBS4RUOOE2F0UVJOE65S2A
ExecStart=/bin/node -r newrelic /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target